node_modules
coverage

yarn.lock
package-lock.json
pnpm-lock.yaml
test.js

.husky
.nyc_output
.DS_Store
.git
.gitignore
.size-limit.js
.eslintrc.json
.huskyrc.json
.travis.yml
.lintstagedrc
.editorconfig
